/*********************************************

Here is a description of any special CSS used.
In this case it's just padding and margin to 0
and then centring the canvas (and anything else)
using the CSS Grid.

Also hides overflow.

**********************************************/

body {
  padding: 0;
  margin: 0;
  display: grid; /* Set up the grid and justify/align to center */
  justify-content: center;
  align-content: center;
  height: 100vh; /* Body is the height of the viewport */
  overflow: hidden; /* Hide anything that goes off the window size */
}
.buttonsHUD{
    position: absolute;
  display: flex;
  flex-direction: row;
  align-items:center;
  justify-self: center;
  margin-top: 80vh;

}

/* REF for butotn styling: https://css-tricks.com/making-pure-css-playpause-button/ */
/* Default play button */
.play{
  margin:0;
  /* PLAY styling */
  width: 0;
 height: 0;
 background-color: transparent;
 border-top: 10px solid transparent;
 border-bottom: 10px solid transparent;
 border-left: 20px solid red;
 border-right: none;
 cursor: pointer;

}

/* pause button */
.pause{
   /* PAUSE styling */
   margin:0;
   background: transparent;
   border-style: double;
   border-width: 0px 50px 0px 50px;
   border-width: 0px 0px 0px 20px;
    border-color: red;
    cursor: pointer;
}
/* Slider-thumb css  CHANGE AT END*/
body > input[type=range]:nth-child(4)::-webkit-slider-thumb{
  appearance:none;
  width: 15px;
  height: 15px;
  background: red;
  cursor: pointer;
  border-radius: 50%;
}

/* PREVIOUS BUTTON */
.previous, .next{
  width: 50px;
  height: 50px;
  cursor: pointer;
}
.previous{
  margin-right: 10%;
}
.next{
  margin-left: 5%;
}

/* miles animation and style */
.miles{
  position: absolute;
  display: flex;
  align-self: center;
  justify-self:center;
  margin-bottom:-30px;
  margin-left: -35px;
  animation: float 3s ease-in-out infinite;
}
@keyframes float {
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(20px);
	}
	100% {
		transform: translatey(0px);
	}
}

.songDesc{
  position: absolute;
  font-size: 200px;
  color: white;
}
