/*********************************************
Rdahika Patel
Raving Redactionist CSS.
**********************************************/


/* Just some general syling of the page for aesthetics. Personal choice. */
body {
  background-color: black;
  color:#808080;
  font-family: Lucida Console;
  width: 800px;
  margin-left: 30vw;
  margin-top: 5vh;
}

/* Redacted elements need to be blanked out */
.redacted {
  /* to make it seem like it actually disappears, change the color to the backgroundColor */
  color:black;
  background-color: black; /* Black background */
  user-select: none; /* User can't select the redacted text to see it */
}

/* Revealed elements need to be highlighted because it's a disaster! */
.revealed {
  background-color: transparent; /* No background */
  text-decoration: underline; /* underlined! */
  color: red; /* Emergency! */
  font-weight:bold;
}

/* to align the elements to the center */
section{
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*for the title of the document */
h2{
  color: red;
}
/* for the paw img below signature */
.pawImg{
  width: 80px;
  height: 80px;
  transform: rotate(30deg);
}
